.biblioteca-list {
  height: 80vh;
  background-color: white;
}

.items-lista {
  min-height: 150px;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  &.large {
    height: 300;
  }
}
