$primary: #352d4d;
$primary-rgb: 53, 45, 77;
$primary-contrast: #ffffff;
$primary-contrast-rgb: 255, 255, 255;
$primary-shade: #2f2844;
$primary-tint: #6b618f;

$secondary: #6d6192;
$secondary-rgb: 109, 97, 146;
$secondary-contrast: #ffffff;
$secondary-contrast-rgb: 255, 255, 255;
$secondary-shade: #605580;
$secondary-tint: #7c719d;

$tertiary: #69b0c1;
$tertiary-rgb: 105, 176, 193;
$tertiary-contrast: #000000;
$tertiary-contrast-rgb: 0, 0, 0;
$tertiary-shade: #5c9baa;
$tertiary-tint: #78b8c7;

$success: #10dc60;
$success-rgb: 16, 220, 96;
$success-contrast: #ffffff;
$success-contrast-rgb: 255, 255, 255;
$success-shade: #0ec254;
$success-tint: #28e070;

$warning: #ffce00;
$warning-rgb: 255, 206, 0;
$warning-contrast: #ffffff;
$warning-contrast-rgb: 255, 255, 255;
$warning-shade: #e0b500;
$warning-tint: #ffd31a;

$danger: #f04141;
$danger-rgb: 245, 61, 61;
$danger-contrast: #ffffff;
$danger-contrast-rgb: 255, 255, 255;
$danger-shade: #d33939;
$danger-tint: #f25454;

$dark: #222428;
$dark-rgb: 34, 34, 34;
$dark-contrast: #ffffff;
$dark-contrast-rgb: 255, 255, 255;
$dark-shade: #1e2023;
$dark-tint: #383a3e;

$medium: #989aa2;
$medium-rgb: 152, 154, 162;
$medium-contrast: #ffffff;
$medium-contrast-rgb: 255, 255, 255;
$medium-shade: #86888f;
$medium-tint: #a2a4ab;

$light: #f4f5f8;
$light-rgb: 244, 244, 244;
$light-contrast: #000000;
$light-contrast-rgb: 0, 0, 0;
$light-shade: #d7d8da;
$light-tint: #f5f6f9;

$blue: #5672a7;
$blue-rgb: 56, 128, 255;
$blue-contrast: #ffffff;
$blue-contrast-rgb: 255, 255, 255;
$blue-shade: #3171e0;
$blue-tint: #4c8dff;

$purple: #5c3b8d;
$purple-rgb: 92, 59, 141;
$purple-contrast: #ffffff;
$purple-contrast-rgb: 255, 255, 255;
$purple-shade: #51347c;
$purple-tint: #6c4f98;

$grape: #763b8d;
$grape-rgb: 118, 59, 141;
$grape-contrast: #ffffff;
$grape-contrast-rgb: 255, 255, 255;
$grape-shade: #68347c;
$grape-tint: #844f98;

$sky: #3b678d;
$sky-rgb: 59, 103, 141;
$sky-contrast: #ffffff;
$sky-contrast-rgb: 255, 255, 255;
$sky-shade: #345b7c;
$sky-tint: #4f7698;
