.h-10 {
    height: 100% !important;
}

.w-10 {
    width: 100% !important;
}

.a-10 {
    height: 100% !important;
    width: 100% !important;
}

.h-9 {
    height: 90% !important;
}

.w-9 {
    width: 90% !important;
}

.a-9 {
    height: 90% !important;
    width: 90% !important;
}

.h-8 {
    height: 80% !important;
}

.w-8 {
    width: 80% !important;
}

.a-8 {
    height: 80% !important;
    width: 80% !important;
}

.h-7 {
    height: 70% !important;
}

.w-7 {
    width: 70% !important;
}

.a-7 {
    height: 70% !important;
    width: 70% !important;
}

.h-6 {
    height: 60% !important;
}

.w-6 {
    width: 60% !important;
}

.a-6 {
    height: 60% !important;
    width: 60% !important;
}

.h-5 {
    height: 50% !important;
}

.w-5 {
    width: 50% !important;
}

.a-5 {
    height: 50% !important;
    width: 50% !important;
}

.h-4 {
    height: 40% !important;
}

.w-4 {
    width: 40% !important;
}

.a-4 {
    height: 40% !important;
    width: 40% !important;
}

.h-3 {
    height: 30% !important;
}

.w-3 {
    width: 30% !important;
}

.a-3 {
    height: 30% !important;
    width: 30% !important;
}

.h-2 {
    height: 20% !important;
}

.w-2 {
    width: 20% !important;
}

.a-2 {
    height: 20% !important;
    width: 20% !important;
}

.h-1 {
    height: 10% !important;
}

.w-1 {
    width: 10% !important;
}

.a-1 {
    height: 10% !important;
    width: 10% !important;
}
.hp-10 {
    height: 100px !important;
}

.wp-10 {
    width: 100px !important;
}

.ap-10 {
    height: 100px !important;
    width: 100px !important;
}

.hp-9 {
    height: 90px !important;
}

.wp-9 {
    width: 90px !important;
}

.ap-9 {
    height: 90px !important;
    width: 90px !important;
}

.hp-8 {
    height: 80px !important;
}

.wp-8 {
    width: 80px !important;
}

.ap-8 {
    height: 80px !important;
    width: 80px !important;
}

.hp-7 {
    height: 70px !important;
}

.wp-7 {
    width: 70px !important;
}

.ap-7 {
    height: 70px !important;
    width: 70px !important;
}

.hp-6 {
    height: 60px !important;
}

.wp-6 {
    width: 60px !important;
}

.ap-6 {
    height: 60px !important;
    width: 60px !important;
}

.hp-5 {
    height: 50px !important;
}

.wp-5 {
    width: 50px !important;
}

.ap-5 {
    height: 50px !important;
    width: 50px !important;
}

.hp-4 {
    height: 40px !important;
}

.wp-4 {
    width: 40px !important;
}

.ap-4 {
    height: 40px !important;
    width: 40px !important;
}

.hp-3 {
    height: 30px !important;
}

.wp-3 {
    width: 30px !important;
}

.ap-3 {
    height: 30px !important;
    width: 30px !important;
}

.hp-2 {
    height: 20px !important;
}

.wp-2 {
    width: 20px !important;
}

.ap-2 {
    height: 20px !important;
    width: 20px !important;
}

.hp-1 {
    height: 10px !important;
}

.wp-1 {
    width: 10px !important;
}

.ap-1 {
    height: 10px !important;
    width: 10px !important;
}