@import "./colors";
@import "./profile";
@import "./btns";
@import "./login";
@import "./sizes";
body {
  overflow: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background: url(/images/login.jpg);
  background-size: cover;
}

.fit {
  height: fit-content;
  width: fit-content;
}

.centrado {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centrado-v {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.centrado-h {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.wrapper {
  background: #f6f6f6;
  position: relative;
  height: 100%;
  width: 100%;
}
