<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="biblioteca-detail"aria-labelledby="Detalles"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <ul class="nav nav-tabs" id='bibliotecaTabs'>
            <li class="nav-item">
                <a class="nav-link active" onclick='changeTab(this)' name="trainments">Entrenamientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick='changeTab(this)' name="routines">Rutinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick='changeTab(this)' name="exercises">Ejercicios</a>
            </li>
        </ul>
        <div class="biblioteca-list row p-5" style='overflow:scroll'>

        </div>
    </div>
</div>
<script src="/js/biblioteca.js"></script>