<div class="wrapper">
    <div class="container">
        <ul class="nav nav-tabs" id='bibliotecaTabs'>
            <li class="nav-item">
                <a class="nav-link active" value="/trainments">Entrenamientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" value="/routines">Rutinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" value="/exercises">Ejercicios</a>
            </li>
        </ul>
    </div>
</div>