<div class="box centrado">
    <div name="changer">
        <p class="title">Iniciar Sesión</p>
        <form id='login-form' action="/users/login" method="post">
            <div class="inputBox">
                <input type="text" required name="email">
                <label>Email</label>
            </div>
            <div class="inputBox">
                <input type="password" required name="pass">
                <label>Contraseña</label>
            </div>
            <div class="loginAnimate">
                <button class="btn btn-secondary centrado-h login-btn" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Ingresar
                </button>
            </div>
        </form>
        <br>
        <div style=" color:white">
            ¿No tienes una cuenta?
            <a class="link" onclick="change()">Registrate</a>
        </div>
    </div>

    <div name="changer" class="d-none">
        <p class="title">Registrarse</p>
        <form action="/users/add" method="post">
            <div class="inputBox">
                <input type="text" required name="name">
                <label>Nombre</label>
            </div>
            <div class='container' style=" color:white">
                <div class="row w-10">
                    <div class="col ">
                        <input type="radio" name='gender' value="0" required>
                        <label class='white'>Hombre</label>
                    </div>
                    <div class="col ">
                        <input type="radio" name='gender' value="1" required>
                        <label class='white'>Mujer</label>
                    </div>
                </div>
            </div>
            <div class="inputBox">
                <input type="text" required name=email>
                <label>Email</label>
            </div>
            <div class="inputBox">
                <input type="text" required name=height>
                <label>Estatura</label>
            </div>
            <div class="inputBox">
                <input type="text" required name=age>
                <label>Edad</label>
            </div>
            <div class="inputBox">
                <input type="text" required name=weight>
                <label>Peso</label>
            </div>
            <div class="inputBox">
                <input type="password" name=pass required>
                <label>Contraseña</label>
            </div>
            <div class="inputBox">
                <input type="password" name=pass2 required>
                <label>Confirmar Contraseña</label>
            </div>
            <div class="loginAnimate" (click)="register()">
                <button class="btn btn-secondary centrado-h" type="submit">
                    Registrarse
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </form>
        <br>
        <div style=" color:white">
            ¿Ya tienes una cuenta?
            <a class="link" onclick="change()">Ingresa</a>
        </div>
    </div>
</div>
<script src='/js/login.js'></script>